<nav class=" top-0 gap-4 text-white absolute z-50 w-full flex justify-end px-2 bg-slate-900 shadow-md">
  <a
  class="hover:underline"   routerLinkActive="text-blue-500 underline"
  [routerLink]="['/pokemons']"
  > Pokemons</a>

  <a
  class="hover:underline"   routerLinkActive="text-blue-500 underline"
  [routerLink]="['/about']"
  > About</a>
  <a
  class="hover:underline" routerLinkActive="text-blue-500 underline"
  [routerLink]="['/pricing']" > Pricing</a>
  <a
  class="hover:underline" routerLinkActive="text-blue-500 underline"
  [routerLink]="['/contact'] " > Contact</a>
</nav>
